
/*************tag selectors************/

body {
  color: #40515E;
  margin:0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
h1 {
  margin-top: 0;
  margin-bottom:0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #322F38;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-sans-serif;
  color: #322F38;
}

h3 {
  color:#11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}

p {
  line-height: 2;
}
/*************Class selectors************/

.BTN_CONTACT {
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 #000000;
  background-color: #66BFBF;
  border: solid #337FED 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin: 30px;
  padding: 20px;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}


.profile {
  padding-top:  50px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.chilli-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
 width: 25%;
 float: right;
 margin-left: 30px;
}

.middle-container {

  background-color: #feceab;
}

.bottom-container {
  background-color: #ff847c;
  padding: 50px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  padding: 25px;
}

.footer-link {
  padding: 15px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom:400px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top:50px;
}

.pro {
  text-decoration: underline;
}

.designation-header {
  font-weight: normal;
}

.footer-link {
  color: 010969E;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 5px;
}
